
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <a href="#!home">Home</a>
    <a href="#!about">About me</a>
    <a href="#!contact">Contact me</a>
    <hr/>
    <div class="container" page="home">
        site home page content
    </div>
    <div class="container" page="about" page-title="All About Me">
        about me page content
    </div>
    <div class="container" page="contact">
        contact us page content
    </div>
</body>
<script src="/admin/Pages.js" type="text/javascript" charset="utf-8"></script>
</html>
